{% extends 'price/base.html' %}

  {% block content %}
            
            
           <!-- Content -->
           <div class = "content" id = "content">
            
              <table class = "divisiones">

                <tr id = "head-options">

                  <h3>Chart Options</h3>

                  <div id = "opciones">

                    <td style="padding:0 15px 0 15px;"">

                      <label>Initial date :</label><br>
                      <input type="text" name="initial-date" id="initial-date" style = "height: 25px;"/>

                    </td>

                    <td style="padding:0 15px 0 15px;">

                      <label>Last date :</label><br>
                      <input type="text" name="last-date" id="last-date" style = "height: 25px;"/>

                    </td>

                    <td style="padding:0 15px 0 15px;">

                      <label>Chart style :</label><br>
                      <SELECT name="chart-style" SIZE=1 id="chart-style" class = "listillas" style = "height: 27px;"> 
                        <OPTION VALUE="LINE">LINE</OPTION>
                        <OPTION VALUE="BAR">BAR</OPTION>
                      </SELECT>

                    </td>

                    <td style="padding:0 15px 0 15px;">

                      <label>Measure :</label><br>
                      <SELECT name="measure" SIZE=1 id="measure" class = "listillas" style = "height: 27px;"> 
                        <OPTION VALUE="LOCAL PRICE">LOCAL PRICE</OPTION>
                        <OPTION VALUE="SINGLE DOSES">SINGLE DOSES</OPTION>
                        <OPTION VALUE="DOT">DOT</OPTION>
                      </SELECT>

                    </td>


                    <td style="padding:0 15px 0 15px;">

                      <label>Item :</label><br>
                      <SELECT name="nom-item" SIZE=1 id="nom-item" class = "listillas" style = "height: 27px;"> 
                        <OPTION VALUE="MARKET">MARKET</OPTION>
                        <OPTION VALUE="LABORATORY">LABORATORY</OPTION>
                        <OPTION VALUE="FAMILY">FAMILY</OPTION>
                        <OPTION VALUE="BRAND">BRAND</OPTION>
                        <OPTION VALUE="SKU">SKU</OPTION>
                      </SELECT>

                    </td>


                    <td style="padding:0 15px 0 15px;">

                      <label>Chart views :</label><br>
                      <SELECT name="chart-views" SIZE=1 id="chart-views" class = "listillas" style = "height: 27px;"> 
                        <OPTION VALUE="ITEM - STORE">ITEM - STORE</OPTION>
                        <OPTION VALUE="STORE - ITEM">STORE - ITEM</OPTION>
                      </SELECT>

                    </td>



                  </div>

                </tr>

              </table>



              <div id="graf-price">

              </div>

            </div><!-- Fin del content -->
            


            <!-- Side Bar -->
    
            <div class = "sidebar1" id = "sidebar">

                <div>
                      


                  <form method = "get" action = "{% url 'refreshTienda' %}" id = "formTienda">
                    <p class="textoLista">STORES</p>
                    <p>
                      <SELECT name="tienda" multiple = "multiple" SIZE=6 id="tienda" class = "listillas"> 
                        <OPTION VALUE="FARMACIAS SAN PABLO">FARMACIAS SAN PABLO</OPTION>
                        <OPTION VALUE="FARMACIAS DEL AHORRO">FARMACIAS DEL AHORRO</OPTION>
                        <OPTION VALUE="HEB">HEB</OPTION>
                        <OPTION VALUE="FARMASMART">FARMASMART</OPTION> 
                        <OPTION VALUE="FARMATODO">FARMATODO</OPTION> 
                        <OPTION VALUE="WALMART">WALMART</OPTION> 
                        <OPTION VALUE="FARMALISTO">FARMALISTO</OPTION> 
                        <OPTION VALUE="CHEDRAUI">CHEDRAUI</OPTION> 
                      </SELECT>
                    </p>


                    <table class="botones" cellpadding="15">
                      <tr>
                        <td><input type = "button" value = "ALL" id = "bTiendaAll" class = "todos"/></td>
                        <td><input type = "button" value = "NA " id = "bTiendaNone" class = "ninguno"/></td>
                        <td><input type = "submit" value = "REF" id = "bTiendaRef" class = "refresca"/></td>
                      </tr>

                    </table>    

                  </form>

                  <br>
                  <br>

                  <form method = "get" action = "{% url 'refreshMercado' %}" id = "formMercado">

                    <div id = "divMercado">
                      <p class="textoLista">MARKETS</p>
                      <p>
                        <SELECT name="mercado" multiple = "multiple" SIZE=6 id="mercado" class = "listillas"> 
                          <OPTION VALUE="ALL" selected>ALL</OPTION>
                        </SELECT>
                      </p>
                    </div>
        
                    <table class="botones" cellpadding="15">
                      <tr>
                        <td><input type = "button" value = "ALL" id = "bMercadoAll" class = "todos"/></td>
                        <td><input type = "button" value = "NA " id = "bMercadoNone" class = "ninguno"/></td>
                        <td><input type = "submit" value = "REF" id = "bMercadoRef" class = "refresca"/></td>
                      </tr>
                    </table>
                  </form>

                  <br>
                  <br>

                  <form method = "get" action = "{% url 'refreshFamilias' %}" id = "formFamily">
                    <div id = "divFamilia">
                      <p class="textoLista">FAMILY</p>
                      <p>
                        <SELECT name="familia" multiple = "multiple" SIZE=6 id="familia" class = "listillas"> 
                          <OPTION VALUE="ALL" selected>ALL</OPTION>
                        </SELECT>
                      </p>
                    </div>


                    <table class="botones" cellpadding="15">
                      <tr>
                        <td><input type = "button" value = "ALL" id = "bFamiliaAll" class = "todos"/></td>
                        <td><input type = "button" value = "NA " id = "bFamiliaNone" class = "ninguno"/></td>
                        <td><input type = "submit" value = "REF" id = "bFamiliaRef" class = "refresca"/></td>
                      </tr>
                    </table>
                  </form>

                  <br>
                  <br>

                  <form method = "get" action = "{% url 'refreshBrands' %}" id = "formBrands">
                    <div id = "divBrands">
                      <p class="textoLista">BRANDS</p>
                      <p>
                        <SELECT name="brands" multiple = "multiple" SIZE=6 id="brands" class = "listillas"> 
                          <OPTION VALUE="ALL" selected>ALL</OPTION>
                        </SELECT>
                      </p>
                    </div>


                    <table class="botones" cellpadding="15">
                      <tr>
                        <td><input type = "button" value = "ALL" id = "bBrandsAll" class = "todos"/></td>
                        <td><input type = "button" value = "NA " id = "bBrandsNone" class = "ninguno"/></td>
                        <td><input type = "submit" value = "REF" id = "bBrandsRef" class = "refresca"/></td>
                      </tr>
                    </table>
                  </form>

                  <br>
                  <br>


                  <p class="textoLista">SKU</p>
                  <p>
                    <SELECT name="sku" multiple = "multiple" SIZE=6 id="sku" class = "listillas"> 
                      <OPTION VALUE="ALL" selected>ALL</OPTION>
                    </SELECT>
                  </p>



                  <table class="botones" cellpadding="15">
                    <tr>
                      <td><input type = "button" value = "ALL" id = "bSkuAll" class = "todos"/></td>
                      <td><input type = "button" value = "NA " id = "bSkuNone" class = "ninguno"/></td>
                    </tr>
                  </table>

                  <br>
                  <br>


                  <form  method="get" action = "{% url 'consultaPrecios' %}" id = "consultaPrice">

                    <table class="botones" cellpadding="15">
                      <tr>
                        <td><input type = "submit" value="CONSULTA" id = "staz" name = "staz"/></td>
                      </tr>
                    </table>
          
                  </form>

                </div>

            </div><!-- Fin de Side Bar -->            
            
    {% endblock %}

    {% block javascript %}

      <script>
        $("#titulo").html("PRICE ANALYSIS TOOL<br /><span id='tspan'>PRICE ANALYSIS</span>");
      </script>

    {% endblock %}


		</div> <!-- Del wrapper -->

    </body>
</html>